<h1>
Random Results
</h1>

<dl>  
      <dt>Minimum</dt>
      <dd> <%= @num_min %> </dd>
</dl>

<dl>  
      <dt>Maximum</dt>
      <dd> <%= @num_max %> </dd>
</dl>
<dl>  
      <dt>Random Number</dt>
      <dd> <%= @random_num%> </dd>
</dl>

<a href="/square_root/new">Calculate another square root</a>