<h1>
hello world
</h1>

<form action="/square/results">
  <div>  
      <label for="square_input">
        Enter a number
      </label>
  </div>
  <div>
      <input id="square_input" type="text" name="number" placeholder="What number do you want to take the square of?">
  </div>

  <div>
    <button>
      Calculate square
    </button>
  </div>
</form>