<h1>
hello world
</h1>

<form action="/square_root/results">
  <div>  
      <label for="square_root_input">
        Enter a number
      </label>
  </div>
  <div>
      <input id="square_root_input" type="text" name="number" placeholder="What number do you want to take the square root of?">
  </div>

  <div>
    <button>
      Calculate square root
    </button>
  </div>
</form>